body {
  font-family:Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  height:800px;
  width:1280px;
}



.top {
  background-color: #122C67; 
  height:80px;
  width:1280px;
  position: relative;
}
 
 
.top ul {
  font-family: Arial, Verdana;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute; 
  bottom: 20px; 
  left:5px;
  
  
}
 
.top ul li {
  display: inline;
  position: relative;
  float: left;
  text-decoration: none;
  font-size: 16pt;
  white-space: nowrap;
}
 
.top ul li {
  display: inline;
  text-decoration: none;
  padding: 45px 85px 3px 25px; 
  color: #ccc;  
  margin-left: 1px;
  white-space: nowrap;

}

.top ul li a {
  text-decoration: none;
  color: #ccc;
}

.top ul li img {
  width: 157px;
  height: 20px;
}
#sign_in_box {
  background-color: white;
  position:absolute;
  top:35px;
  left:950px;
  z-index: 100;
}

#inner_sign_in_box {
  background-color: #dddddd;
  border: 1px #7f7f7f solid;
  margin:7px;
}

#inner_sign_in_box > * {
  margin-left:7px;
  margin-right: 7px;

}

#sign_in_title {
  margin-top: 6px;
  font-weight: bold;
  font-size: 10pt;
}

#username {
  margin-top:17px;
  font-size: 8pt; 
}

#password {
  margin-top:17px;
  font-size: 8pt; 
}

form input{
  padding-top:3px;
  padding-bottom: 3px;
  width: 180px;
  display: block;

}

#sign_in_submit {
  margin-top: 17px;
  margin-bottom: 17px;
  width:auto;
  border: 0px none;
  padding: 5px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#defafc), to(#96e3fb));
  border-radius: 5px;
}

#sign_in_footer {
  list-style: none;
  padding-left: 0px;
  margin-bottom: 6px;
}

#sign_in_footer li{
  display: inline;
  text-decoration: none; 
}

#sign_in_footer a {
  text-decoration: none;
  color: #003366;
  font-size: 7pt;
}

#sign_in_footer li:before {
content: " | ";
}

#sign_in_footer li:first-child:before {
content: none;
}

#page{
  background-image: url('../image/main.png');
  width:1250px;
  height:384px;
  background-repeat:no-repeat;
  background-position:center; 
  position:relative;
  padding-left:1.5%;
  padding-top: 1.5%;
}

#password_form{
  position: relative;
  height:100%;
  width: 630px;
  background-color: rgba(204,204,204,0.5);
  
}

#password_form_title {
  font-size: 15pt;
  padding-top: 3%;
  padding-left: 1%;
  font-weight: bold;

}

#password_form_text {
  margin-top: 10px;
  padding-left: 1%;
  padding-right: 1%;
  color: #666666;
  font-size: 10pt;
}

#verify_form{
  position: relative;
  height:100%;
  width: 630px;
  background-color: rgba(204,204,204,0.5);
}

#verify_form_tittle{
  font-size: 15pt;
  padding-top: 3%;
  padding-left: 1%;
  font-weight: bold;
  margin-left: 10px;
}

#verify_details_text{
  margin-top: 30px;
  padding-left: 1%;
  padding-right: 1%;
  color: #666666;
  font-size: 10pt;
  margin-left: 10px;
}

#sign_up_checkbox{
  display: inline-block;
  width: 30px;
  margin-top: 30px;
 
}

#verify_details_form{
  font-size: 10pt;
  color:#666666;
  margin-top: 10px;
  margin-left: 10px;
}

#back_button_form{
  display: inline-block;
  margin:3%;
}

#next_button_form{
  display: inline-block;
  margin-left: 60px;
}


#right_box {
  background-color: white;
  position:absolute;
  top:35px;
  left:950px;
  width: 230px;
  z-index: 100;
}

#inner_right_box {
  background-color: #dddddd;
  border: 1px #7f7f7f solid;
  margin:7px;
}

#inner_right_box > * {
  margin-left:7px;
  margin-right: 7px;

}

#right_box_title {
  font-size: 13pt;
  padding-top: 3%;
  padding-left: 1%;
  font-weight: bold;

}

#right_box_text {
  margin-top: 10px;
  padding-left: 1%;
  padding-right: 1%;
  color: #666666;
  font-size: 8pt;
}

#enter_your_username{
  padding-left: 3%;
  margin-top: 20px;
  font-size:10pt;
  color: #666666;
}

#enter_your_username_input{
  width: 200px;
  height: 20px;
  margin-left: 3%;
}

#password_form_footer {
  width: 100%;
  bottom: 0px;
  background-color: rgba(102,102,102,0.5);
  position: absolute;
}

#cancel_button{
  display: inline-block;
  margin:3%;
  width:60px;
  border: 0px none;
  padding: 5px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#cccccc));
  border-radius: 5px;
}

#blue_button{
  display: inline-block;
  margin:3%;
  padding: 5px;
  width:auto;
  border: 0px none;
  padding: 5px;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#defafc), to(#96e3fb));
  border-radius: 5px;

}

#footer {
  background-image: url('../image/footer.png');
  width:1280px;
  height:135px;
  text-align:center;
  font-size: 11pt;
  margin-top: 80px;
}

#footer ul {
  font-family: Arial, Verdana;
  margin: 0;
  padding: 0;
  padding-top:20px;
  list-style: none;
  position: relative; 
  float:center;
}

#footer ul li{
  display: inline;
  position: relative;
  float: center;
  width:100px;
  text-decoration: none;
  color:#122C67;
  text-decoration: none;
}

#footer ul li a {
  text-decoration: none;
  color: #122C67;
}

#footer li:before {
content: " | ";
}

#footer li:first-child:before {
content: none;
}

#footerimg {
  margin-top: 12px;
  padding-top: -12px;
  float: right;
}

